<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project2"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".LandingPage"
            android:exported="true"/>
        <activity
            android:name=".RegisterPage"
            android:exported="true"/>
        <activity
            android:name=".OpenShop"
            android:exported="true"/>
        <activity
            android:name=".OrderHistory"
            android:exported="true"/>
        <activity
            android:name=".CancelOrder"
            android:exported="true"/>
        <activity
            android:name=".Admin"
            android:exported="true"/>
        <activity
            android:name=".EarnMoney"
            android:exported="true"/>
        <activity
            android:name=".AdminAddItem"
            android:exported="true"/>
        <activity
            android:name=".AdminDeleteItem"
            android:exported="true"/>
        <activity
            android:name=".AdminDeleteUser"
            android:exported="true"/>
        <activity
            android:name=".AdminSetMoney"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>